/*NAV*/

.navbar-brand{
	padding: 0;
}

.theme-red .navbar {
	background-color: #CFCBCE;
}

.navbar-brand .logo{
	width: 140px;

}


.nav.navbar-nav li a{
	line-height: 70px;
    margin: 0;
    padding: 0 30px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.nav.navbar-nav li a i{
	opacity: 0;
	position: absolute;
	right: 0;
	top: 23px;
	transition: all .3s;
}

.nav.navbar-nav li a:hover i{

	opacity: 1;
}
.nav.navbar-nav li a:hover{

	color: #E4572E;
}



/*HOME*/
.home .logo{
	margin: auto;
	display: block;
	max-width: 80%;
}

.home h1{
	text-align: center;
	color: #E4572E;
}

.home .nav-links > div{
	position: relative;
}

.home .nav-links .btn-circle{
	width: 150px;
	height: 150px;
	color: #CFCBCE;
	display: block;
	margin: auto;
}

	.home .nav-links .btn-circle i{
		font-size: 100px;
		display: block;
	}

	.home .nav-links span.title{
		font-size: 12px;
	    color: #479111;
	    position: relative;
	    bottom: 0;
	    width: 150px;
	    text-align: center;
	    display: block;
	    margin: auto;
	    margin-top: -30px;
	}

	.home .nav-links span.title strong{
		display: block;
    	font-size: 1.6em;
    	line-height: 1;
	}
    


/*LISTADOS*/
.fn-title{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: -30px;
}
.fn-title .btn-circle{
	width: 100px;
    height: 100px;
    color: #FFF;
    background-color: #CFCBCE !important;
    margin: auto;
}



.fn-title .btn-circle i{
	font-size: 70px;
	display: block;
}

	.fn-title span.title{
    font-size: 24px;
    color: #479111;
    position: absolute;
    right: -325px;
    width: 350px;
    text-align: left;
    display: inline-block;
    margin: auto;
    bottom: 5px;
	}

	.fn-title span.title strong{
    	font-size: 1.6em;
    	line-height: 1;
	}


.card{
	padding-top: 50px; 
}

.bg-orange{
	background-color: #E4572E !important;
}