.col-sm-4.edit{
    display: block;
    font-weight: normal;
    color: #aaa;
    top: -21px;
    position: relative;
}

.col-sm-4 .label-edit{
	display: none;
	font-weight: normal;
	color: #aaa;
	position: relative;
	top: 9px;
}

.col-sm-4.edit .label-edit{
	display: block;
}

.icon-actions .material-icons{
	cursor: pointer;
}

.theme-indigo .sidebar .user-info.user-info-edit{
	background: #aeaeae;
	height: 45px;
}

.sidebar .user-info .info-container.info-container-edit{	
	top: 0;
}

.login-page.lg-page-edit{
	background-color: rgb(242, 242, 242);
}

.login-page.lg-page-edit .login-box .logo a:first-child{
	font-size:24px;
}

/*subrayado de los input*/
.login-page.lg-page-edit .input-group .form-line:after{
	border-bottom: #4CAF50;
}

.content .mask{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 1.02;
	background-color: rgba(0, 0, 0, 0.4);
	right: 0;
	left:0;
	bottom: 0;
	top: 0;
	z-index: 10000;
}

.box-add-productos{
    z-index: 999999;
	
}
.box-add-productos .cont-card{
    margin: auto;
    margin-left: 15%;
    margin-top: 5%;
}

.li-edit .input-small{
	width: 20%;
	float:right;
}
.li-edit i{
	float: right;
}

.box-center{
	margin: auto;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 5%;
}

#producto_list li.error-stock{
	border: 1px solid #F44336;	
}

#producto_list li{
	margin-bottom: 1px;
}

.suggestion-list{
	box-shadow: 2px 2px 4px #c7c7c7;	
}

.input-group .checked{
	display: inline-block;
}
.suggestion-list .autocomplete-suggestion{
	cursor: pointer;
}

section aside.sidebar-edit{
	width: 250px;
}

#tabla table.table-planes tbody{
	text-transform: capitalize;
}

section.content .row-edit-plan{
	position: relative;
	top: -30px;
}

.logo-login{
	background-size: 100%;
	width: 157px;
	height: 144px;
	position: relative;
	top: 0px;
	margin: auto;
	display: block;
}

button.btn-edit:focus{
	color: white;
}

body.theme-green input[type="text"]{
	text-transform: capitalize;
}

/*tabla deudores*/
#list_dubtors .box-center-wb{
    background-color: white;
    margin: auto;
    display: block;
    /* max-height: 600px; */
    position: absolute;
    top: 70px;
    height: auto;
    left: 0;    
    right: 0;
}
.box-center-wb table{   
    table-layout: fixed;    
    display: block;
}

.box-center-wb table tbody{
    overflow: auto;
    max-height: 380px;
    height: auto;
    display: block;
}
.box-center-wb table tbody tr{
	width: 100%;
	display: block;
}
.box-center-wb table thead th , .box-center-wb table tbody td{
	border: none;
}

/*fin tabla deudores*/

.to_pay{
	width: 80px;
	padding-left: 15px;
}

.data-paid{
	display: none;
}

#tabla_hoja_ruta .select-all{	
	padding:0px;
	/*text-align: center;*/
}

#tabla_hoja_ruta table thead th , #tabla_hoja_ruta table tbody td{
	text-align: center;
}

.msg_save_pay{	
}

/*para imprimir la tabla */
/*@media print{
	
	*{
		display: none;
	}
}*/

.content .capitalize{
	text-transform: capitalize;
}