.class-tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

.class-table{
 height:500px;              
 display: -moz-groupbox;   
}
.class-tbody{
  overflow-y: scroll;      
  height: 400px;            
  width: 100%;
  position: absolute;
}
.class-tfoot{
	position: absolute;
    bottom: 0;
}